.site-slogan
  Partecipa a progetti concreti
  .description
    Aiutaci! ti mostra chi ha bisogno di beni reali e denaro a causa di tragiche catastrofi

.span1
.span4
  = image_tag "find_on_map.png"

#map-container.span6
  :plain
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?hl=it&amp;safe=off&amp;q=maps+italy&amp;ie=UTF8&amp;hq=&amp;hnear=Italia&amp;gl=it&amp;t=m&amp;z=5&amp;ll=41.87194,12.56738&amp;output=embed"></iframe><br /><small><a href="https://maps.google.it/maps?hl=it&amp;safe=off&amp;q=maps+italy&amp;ie=UTF8&amp;hq=&amp;hnear=Italia&amp;gl=it&amp;t=m&amp;z=5&amp;ll=41.87194,12.56738&amp;source=embed" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a></small>

