.site-slogan
  Partecipa a progetti concreti
  .description
    Aiutaci! ti consente di aiutare chi ha subito tragiche catastrofi monitorando lo stato avanzamento lavori

.span1
.span4.find-on-map.hint-image
  = image_tag "hint-find-on-map.png", :class => "hidden-phone"

.span6
  = gmaps({:map_options => {:zoom => 5, :auto_adjust => false, :language => 'en', :center_latitude => "41.799", :center_longitude => "12.59"},
           :markers => {:data => @markers}})

.row-fluid
  .span12
    .span1
    .span5.box
      %h5
        Ultime richieste
      - @needs.each do |need|
        .need
          = link_to need.name, new_organization_need_supply_path(need.organization, need), {:id => "foundRequest"}

          da parte di
          = link_to need.organization.name, organization_path(need.organization)