.site-slogan
  .main
    Partecipa a progetti di ricostruzione
  .description
    Aiutaci! ti consente di supportare popolazioni in difficoltà, donando beni e denaro in campagne di ricostruzione

.span1
.span4.find-on-map.hint-image
  = image_tag "hint-find-on-map.png", :class => "hidden-phone"

.span6
  = gmaps({:map_options => {:zoom => 5, :auto_adjust => false, :language => 'en', :center_latitude => "41.799", :center_longitude => "12.59"},
           :markers => {:data => @markers}})

.row-fluid
  - @organizations.each do |organization|
    .span6
      = render organization
