.site-slogan
  Partecipa a progetti concreti
  .description
    Aiutaci! ti consente di vedere e aiutare chi ha bisogno di beni e denaro a causa di tragiche catastrofi

.span1
.span4.find-on-map.hint-image
  = image_tag "hint-find-on-map.png", :class => "hidden-phone"

.span6
  = gmaps({:map_options => {:zoom => 5, :auto_adjust => true, :language => 'en'},
           :markers => {:data => @markers}})

.row-fluid
  .span12
    .span1
    .span5.box
      %h5
        Ultime richieste
      - #TODO: stilare questa parte ----------------------------------------------------------------------------------------
      - @needs.each do |need|
        .need
          = link_to need.name, organization_need_path(need.organization, need)
          da parte di
          = link_to need.organization.name, organization_path(need.organization)