// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

.site-slogan{
  text-align: center;
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 40px;

  .description{
    font-size: 20px;
    color: #aaa;
  }
}

.map_container, #map {
  width: 100% !important;
}

.find-on-map{
  padding-top: 100px;
}
.box{
  h5{
    font-size: 1.6em;
  }
}