.need{
  clear: both;
  margin-bottom: 15px;

  .btn-help{
    //visibility: hidden;
    float:left;
  }

  &:hover{
    .btn-help{
     // visibility: visible;
    }
  }

  .progress{
    float:left;
    width: 70%;
  }
}

.supplies{
  padding-left: 10px;
}
