.organization
  .name
    =link_to organization.name, organization_path(organization)
    - if current_user.admin?
      = link_to "Manage the project", organization_needs_path(organization)
  .description
    = organization.description
