= javascript_include_tag "organizations"
%h1
  Organizzazioni e campagne
%h3
  Le organizzazioni hanno bisogno del tuo sostegno, naviga e trova la campagna da aiutare!

.span6
  = render @organizations
