%h1
  = @organization.name

%h3
  = @organization.description

%h4
  Aiuti richiesti
.span6
  = render @organization.needs

.span4.hint-choose-help
  = image_tag "hint-choose-need.png", :class => "hint-image"
